@font-face {
    font-family: Acumin;
    font-weight: bold;
    src: url("Acumin-BdPro.otf") format("opentype");
}

#app-container {
    width: 100%;
    max-width: none;
}

body {
    background-color: #f9f9f9;
    color: #333333;
    font-size: 15px;
    margin: 0px;
}

hr {
    margin: 0.1rem 0rem;
}

.banner {
    height: 5.5rem;
    padding: 0rem 2rem 0rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner Img {
    position: relative;
    height: 3rem;
    width: auto;
    margin-left: 2%;
}

H5, H3 {
    font-family: Acumin, "Helvetica Neue", sans-serif;
    color: #2c8cff;
    font-weight: 350;
}

#left-column {
    margin-top: 2.5px;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: calc(100vh - 5.5rem);
}

#right-column {
    background-color: #f4f4f4;
    padding: 0rem 2rem;
    min-height: calc(100vh - 5.5rem);
}

.table-row {
    height: 63px;
    vertical-align: middle;
    font-size: 13px;
}

#right-column-tables{
    background-color: #ffffff;
    padding: 0rem 2rem;
    min-height: calc(100vh - 78.5rem);
}

.table-row {
    width: 100%;
    vertical-align: middle;
    font-size: 13px;
}

#intro {
    margin: 20px 0px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: justify;
}

#control-card > p {
    font-weight: bold;
}

#heatmaps_card, #topics_info_card, #metrics_card {
    background-color: #FFFFFF;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
}

#heatmaps_card > b, #topics_info_card > b #metrics_card > b {
    line-height: 2.5;
}

#topics_info_card {
    margin: 20px 0px;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    --bs-alert-link-color: inherit;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
  }
  
  .alert-heading {
    color: inherit;
  }
  
  .alert-link {
    font-weight: 700;
    color: var(--bs-alert-link-color);
  }
  
  .alert-dismissible {
    padding-right: 3rem;
  }
  .alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
  }
  
  .alert-primary {
    --bs-alert-color: var(--bs-primary-text-emphasis);
    --bs-alert-bg: var(--bs-primary-bg-subtle);
    --bs-alert-border-color: var(--bs-primary-border-subtle);
    --bs-alert-link-color: var(--bs-primary-text-emphasis);
  }
  
  .alert-secondary {
    --bs-alert-color: var(--bs-secondary-text-emphasis);
    --bs-alert-bg: var(--bs-secondary-bg-subtle);
    --bs-alert-border-color: var(--bs-secondary-border-subtle);
    --bs-alert-link-color: var(--bs-secondary-text-emphasis);
  }
  
  .alert-success {
    --bs-alert-color: var(--bs-success-text-emphasis);
    --bs-alert-bg: var(--bs-success-bg-subtle);
    --bs-alert-border-color: var(--bs-success-border-subtle);
    --bs-alert-link-color: var(--bs-success-text-emphasis);
  }
  
  .alert-info {
    --bs-alert-color: var(--bs-info-text-emphasis);
    --bs-alert-bg: var(--bs-info-bg-subtle);
    --bs-alert-border-color: var(--bs-info-border-subtle);
    --bs-alert-link-color: var(--bs-info-text-emphasis);
  }
  
  .alert-warning {
    --bs-alert-color: var(--bs-warning-text-emphasis);
    --bs-alert-bg: var(--bs-warning-bg-subtle);
    --bs-alert-border-color: var(--bs-warning-border-subtle);
    --bs-alert-link-color: var(--bs-warning-text-emphasis);
  }
  
  .alert-danger {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
  }
  
  .alert-light {
    --bs-alert-color: var(--bs-light-text-emphasis);
    --bs-alert-bg: var(--bs-light-bg-subtle);
    --bs-alert-border-color: var(--bs-light-border-subtle);
    --bs-alert-link-color: var(--bs-light-text-emphasis);
  }
  
  .alert-dark {
    --bs-alert-color: var(--bs-dark-text-emphasis);
    --bs-alert-bg: var(--bs-dark-bg-subtle);
    --bs-alert-border-color: var(--bs-dark-border-subtle);
    --bs-alert-link-color: var(--bs-dark-text-emphasis);
  }

  .alert {
    color: #fff;
    border: none;
  }
  .alert a,
  .alert .alert-link {
    color: #fff;
    text-decoration: underline;
  }
  .alert-primary {
    background-color: #2c3e50;
  }
  .alert-secondary {
    background-color: #95a5a6;
  }
  .alert-success {
    background-color: #18bc9c;
  }
  .alert-info {
    background-color: #3498db;
  }
  .alert-warning {
    background-color: #f39c12;
  }
  .alert-danger {
    background-color: #e74c3c;
  }
  .alert-light {
    background-color: #ecf0f1;
  }
  .alert-dark {
    background-color: #7b8a8b;
  }
  .alert-light,
  .alert-light a,
  .alert-light .alert-link {
    color: #212529;
  }
/*
  ##Device = Most of the Smartphones Mobiles / ipad (Portrait)
  */

@media only screen and (max-width: 750px), screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        font-size: 13px;
        margin: 0px;
    }

    .banner {
        height: 6rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #intro {
        margin: 10px 0px;
    }

    #left-column, #right-column, #right-column-tables {
        width: 100%;
        margin-left: 0px;
    }

    #right-column, #right-column-tables  {
        padding: 0rem 0.5rem;
    }

    #reset-btn-outer {
        text-align: center;
    }

    .table-row > div {
        width: 100% !important;
        text-align: center;
        margin: auto;
    }

    .table-row:nth-child(even), .table-row:nth-child(odd) {
        background-color: #FFFFFF;
    }

    #header {
        display: none;
    }

    #table_keys:after {
        content: "";
        display: table;
        clear: both;
    }

    #heatmaps > b, #topics_info_card > b {
        line-height: 2.5;
        font-size: 13px;
        display: block;
        text-align: center;
    }

    .annotation-text {
        font-size: 0.8rem !important;
    }

}